$cellsToHide: (2, 6, 7, 8, 9, 11);

.search_patients-table {
  // border-radius: 2px 2px 0 0;
  // overflow: hidden;
  thead {
    tr {
      background: #546e7a;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      height: 40px;
      text-transform: uppercase;
    }
    th {
      text-align: left;
      @media screen and (max-width: 767px) {
        @each $cell in $cellsToHide {
          &:nth-child(#{$cell}) {
            display: none;
          }
        }
      }
    }
  }

  tbody {
    background: #fff;
    font-size: 14px;
    color: #424242;
    tr {
      height: 54px;
      border: 1px solid #e3e3e3;
      &:not(:first-child) {
        border-top: none;
      }
      &.active {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      }
    }
    td {
      &:first-child {
        width: 54px;
      }
      &:nth-child(2) {
        width: 30px;
      }
      @media screen and (max-width: 767px) {
        @each $cell in $cellsToHide {
          &:nth-child(#{$cell}) {
            display: none;
          }
        }
      }
    }
    .status-holder {
      border: 2px solid #546e7a;
      border-radius: 2px;
      font-size: 12px;
      padding: {
        top: 4px;
        bottom: 4px;
      }
      max-width: 100px;
      text-align: center;
    }
  }
  .user-icon_block {
    display: flex;
    align-items: center;
    > svg {
      height: 16px;
      width: 12px;
      fill: #546e7a;
    }
  }
}
