-
  const exersisesData = [
    {
      "title": "memory",
      "categories": [
        {
          "title": "Delayed Pattern Recall",
          "counter": "4",
          "tiles": [
            {
              "blockTitle": {},
              "answersData": [
                {"key": "Time used", "val": ["51.80 sec", "40.21 sec", "9.59 sec"]},
                {"key": "Expect", "val": ["They are vegetables"]},
                {"key": "Anwer", "val": ["Correct"]}
              ]
            },
            {
              "blockTitle": {},
              "answersData": [
                {"key": "Time used", "val": ["51.80 sec", "40.21 sec", "9.59 sec"]},
                {"key": "Expect", "val": ["They are vegetables"]},
                {"key": "Anwer", "val": ["Correct"]}
              ]
            },
          ],          
        },
        {
          "title": "Delayed Pattern Recall",
          "counter": "4",
          "tiles": [
            {
              "blockTitle": {},
              "answersData": [
                {"key": "Time used", "val": ["51.80 sec", "40.21 sec", "9.59 sec"]},
                {"key": "Expect", "val": ["They are vegetables"]},
                {"key": "Anwer", "val": ["Correct"]}
              ]
            },
            {
              "blockTitle": {},
              "answersData": [
                {"key": "Time used", "val": ["51.80 sec", "40.21 sec", "9.59 sec"]},
                {"key": "Expect", "val": ["They are vegetables"]},
                {"key": "Anwer", "val": ["Correct"]}
              ]
            },
          ],
        }
      ]
    },
    {
      "title": "Visuospatial abilities",
      "categories": [
        {"title": "Copy Cube", "counter": "4", "tiles": []},
        {"title": "Draw Clock", "counter": "4", "tiles": []},
        {"title": "Determine Time Test", "counter": "4", "tiles": []}
      ]
    },
    {
      "title": "Executive functioning",
      "categories": [
        {"title": "Tail test", "counter": "3", "tiles": []},
        {"title": "Abstraction test", "counter": "3", "tiles": []},
        {"title": "Letter fluency test A + F", "counter": "3", "tiles": []},
        {"title": "Coding test", "counter": "3", "tiles": []}
      ]
    },
    {
      "title": "Attention, concentration, working memory",
      "categories": [
        {"title": "Immediate word recall", "counter": "3", "tiles": []},
        {"title": "Immediate pattern recall", "counter": "3", "tiles": []},
        {"title": "Digit span forward test", "counter": "3", "tiles": []},
        {"title": "Digit span backward test", "counter": "3", "tiles": []},
        {"title": "Subtraction", "counter": "3", "tiles": []}
      ]
    },
    {
      "title": "Language",
      "categories": [
        {"title": "Naming animals", "counter": "3", "tiles": []}
      ]
    },
    {
      "title": "Orientation",
      "categories": [
        {"title": "Orientation", "counter": "3", "tiles": []}
      ]
    }
    
  ];

.test_description_title Test exercises
each item in exersisesData
  .exercise_category
    h3 #{item.title}
    +question-mixin(item.categories)
