.test_description_title Points
.test_summary-points.flex-container
  .flex-item.item-md-6.item-sm-12
    .bordered-box.flex.justify-between
      .points-item.flex-item--shrink
        dl
          dt.bold-title 40 / 60
          dd Total points
      .points-item.flex-item--shrink
        dl.decreased-fz
          dt 53 / 60
          dd Average of similar healthy patients

  .flex-item.item-md-6.item-sm-12
    .bordered-box.flex.justify-between
      .points-item.flex-item--shrink
        dl
          dt.bold-title 96.23 min
          dd Test duration
      .points-item.flex-item--shrink
        dl.decreased-fz
          dt 45 minutes
          dd Average of similar healthy patients
