.patient-info {
  margin-bottom: 30px;
  .card_inputs-box {
    margin-bottom: 38px;
  }
  .btns-holder {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 576px) {
    .btns-holder {
      justify-content: flex-start;
    }
  }
}

.patient-history {
  th:last-child { display: none; }
  td:last-child { display: none; }
  @media screen and (min-width: 576px) {
    margin-top: 50px;
    th:last-child,
    td:last-child {
      display: table-cell;
    }
  }
}

.patients-title_icon-holder {
  svg {
    fill: #fff;
    height: 12px;
    width: 12px;
  }
}
