.patient-info {
  margin-bottom: 30px;
  .input-holder {
    letter-spacing: 0.6px;
    label {
      color: #6c757d;
      display: block;
      font-size: 12px;
      line-height: 16px;
    }
    input {
      font-size: 14px;
      padding: 8px 6px;
      width: 100%;
    }
  }
  .card_inputs-box {
    margin-bottom: 38px;
  }
}

.patient-history {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    color: #4a4a4a;
    font-size: 10px;
    text-transform: uppercase;
    padding: 4px 8px;
  }
  tr {
    text-align: left;
  }
  tbody {
    tr {
      &:nth-child(2n - 1) {
        background: rgba(196, 196, 196, 0.15);
      }
    }
  }

  td {
    color: #424242;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: normal;
  }
}
