h1 {
  font-size: 20px;
  margin-bottom: 28px;
}

.patient-info {
  .input-holder {
    label {
      color: #6c757d;
      display: block;
      font-size: 12px;
      line-height: 16px;
    }
    input {
      font-size: 14px;
      padding: 8px 6px;
      width: 100%;
    }
  }
  .card_inputs-box {
    margin-bottom: 38px;
  }
}

.g_btn {
  border-radius: 36px;
  font-size: 12px;
  vertical-align: middle;
  height: 36px;
  width: 133px;
  &:not(:last-child) {
    margin-right: 14px;
  }
  &--primary {
    background: #71aa33;
    color: white;
  }
  &--outlined {
    color: #71aa33;
    border: 1px solid;
  }
}
