.sidebar-wrapper {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  &.active {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    width: 315px;
  }
  @media screen and (min-width: 1200px) {
    flex: 0 0 270px;
    position: static;
    transform: translateX(0);
  }
}

.sidebar_nav-box {
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    padding-left: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 20px;
  }
}

.sidebar_logo-box {
  padding: 5px 0 28px;
  display: flex;
  justify-content: center;
  .logo_link {
    display: block;
  }
  svg {
    max-width: 180px;
    max-height: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding: 28px 0;
  }
}

.nav-list {
  color: #424242;
  font-size: 14px;
  > li {
    margin-bottom: 12px;
  }
  .inner-nav {
    padding-left: 54px;
    > li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.nav-item {
  position: relative;
  padding: 12px 24px 12px 54px;
  line-height: 1;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
  }
  &.active {
    background: rgba(#d8f4c0, 0.2);
    color: #71aa33;
    &:after {
      background: #71aa33;
    }
    .sidebar_nav-icon {
      fill: #71aa33;
    }
  }
  .nav_title {
    font-weight: 600;
  }
  @media screen and (min-width: 768px) {
    border-radius: 40px 0 0 40px;
  }
}

.nav_icon-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
}
.sidebar_nav-icon {
  fill: #4a4a4a;
  width: 14px;
  height: 12px;
}

.sidebar_actions-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidiber_action-item {
  flex: 0 0 180px;
  max-width: 180px;
  padding: 0 8px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
