.hide {
  display: none;
}

.t_uppercase {
  text-transform: uppercase;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  &:before {
    content: "";
    display: block;
  }
}
