html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Avenir";
  font-size: 100%;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #545e6f;
  box-sizing: border-box;
  font-size: 100%;
  letter-spacing: 1.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f1f2f5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
}
