.flex-container
  // DAYS SWITCHER
  .flex-item.item-md-8
    .dashboard_scheduler_dates-selector
      button(type="button").arrow-switcher-btn.arrow--left
        +svgIcon('arrow-left-icon', 'arrow-icon')
      button(type="button").arrow-switcher-btn.arrow--right
        +svgIcon('arrow-left-icon', 'arrow-icon right')
      ul.dates_range.flex.align-center.justify-between
        li.flex-item--stretch wed 15
        li.flex-item--stretch thu 16
        li.flex-item--stretch fri 17                
  // YEARS SWITCHER
  .flex-item.item-md-4
    .dashboard_scheduler_year-selector.flex.align-center.justify-between
      .current-year.flex-item--shrink
        | October 2019
      .btns-holder
        button(type="button").arrow-switcher-btn.arrow--left
          +svgIcon('arrow-left-icon', 'arrow-icon')
        button(type="button").arrow-switcher-btn.arrow--right
          +svgIcon('arrow-left-icon', 'arrow-icon right')