.selector-box {
  position: relative;
}

.selector_selected-block {
  border: 1px solid #C4C4C4;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4F4F4F;
  font-size: 12px;
  height: 28px;
  border-radius: 28px;
  cursor: pointer;
}

.selector_list-block {
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  z-index: 5;
  > li {
    font-size: 12px;
    padding: 4px 12px;
    &:hover {
      background: rgba(#d8f4c0, 0.2);
      cursor: pointer;
    }
  }
}