.selector-box {
  position: relative;
}

.selector_selected-block {
  background: #fff;
  border: 1px solid #c4c4c4;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4f4f4f;
  font-size: 12px;
  height: 28px;
  border-radius: 28px;
  cursor: pointer;
}
