.selector-box {
  position: relative;
}

.selector_selected-block {
  background: $white;
  border: 1px solid $ordinary-grey;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color_primary;
  font-size: 12px;
  height: 28px;
  border-radius: 28px;
  cursor: pointer;
}
