.card-box.no-borders.shadow.profile_doctor
  .profile_card-body
    .profile_doctor-main
      .profile_doctor-avatar
        // img(src="")
      .profile_doctor-info
        p.profile_doctor-info_name Elsa Ericsson
        p.profile_doctor-info_age Female, 56 years old
    .profile_doctor-role.flex.justify-between
      dl.flex-item--shrink
        dt.t_uppercase role
        dd Doctor
      dl.flex-item--shrink
        dt.t_uppercase country
        dd Sweden
    .profile_doctor-email.ellipsis
      a(href="mailto:elsa.ericsson@hospitalcentral.com" title="elsa.ericsson@hospitalcentral.com") elsa.ericsson@hospitalcentral.com
  .profile_card-footer
    dl
      dt.t_uppercase joined
      dd 12/07/2019
