.card-box.profile_slots-info
  .slot-item.flex-container.justify-between.collapse
    .flex-item--shrink
      .circle-figure
      .value 15
      .description
        span Available
        span slots
    .flex-item--shrink
      .circle-figure
      .value 18 min
      .description
        span Average
        span call duration