$answer-min-width: 120px;

.spoiler_box {
  background: #fbfbf8;
  &:not(last-child) { margin-bottom: 8px; }
}
.spoiler_header {
  border-radius: 4px;
  background: $bg-color_primary;
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  &.isOpen {
    background: $dark-blue;
    color: $white;
  }
}

.spoiler_body { padding: 10px; }

.diagnostic_question_body {
  background: $white;
  border: 2px solid $border-color_primary;
  border-radius: 2px;
  padding: 14px;
  .inner-wrapper {
    &--actions {
      flex: 0 0 110px;
      max-width: 110px;
    }
  }

  .g_btn {
    font-weight: 400;
    height: 23px;
    width: 100%;
  }

  .block-title {
    margin-bottom: 12px;
    h4 {
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .block-picture {
    margin: 0 auto;
    .pic-holder {
      margin: 20px auto 15px;
      height: 230px;
      width: 230px;
    }
    .btn-holder { text-align: center; }
  }
  .play-btn {
    color: $text-color_primary;
    border: 1px solid;
    padding: 0 12px;
    font-size: 12px;
    width: auto;
    .play-icon {
      height: 8px;
      width: 10px;
      margin-right: 5px;
    }
  }
}

.diagnostic_question_details {
  .answer-item {
    font-size: 14px;
    min-width: $answer-min-width;
    max-width: calc(100% - $answer-min-width);
    &:not(:last-child) {
      border-right: 1px solid $border-color;
      padding-right: 12px;
      margin: 0 12px 12px 0;
    }
    dt {
      font-size: 12px;
      margin-bottom: 6px;
    }
    dd { color: #000; }
  }
}