// Tabs config styles
.diagnostic_tabs-container {
  padding: 20px 16px 0;
  max-width: 1000px;
  margin: {
    left: auto;
    right: auto;
  };
  .top-level-tabs {
    max-width: 640px;
    margin-bottom: 24px;
  }
  .second-level-tabs {
    margin-bottom: 10px;
  }
  .selector-holder {
    flex: 0 0 100%;
  }
  @media screen and (min-width: 768px) {
    .top-level-tabs {
      margin-bottom: 18px;
    }
    .second-level-tabs {
      max-width: 600px;
      margin-bottom: 0;
    }
    .selector-holder {
      flex: 0 0 auto;
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

// User Sidebar
.diagnostic_card {
  p {
    font-size: 10px;
    margin: 0;
  }
  .label {
    color: $text-color_secondary;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 4px;
    text-transform: uppercase;
  }
  .user_personal-info {
    text-align: center;
  }
  .card_avatar {
    background: $primary-color;
  }
  .avatar-icon {
    height: 18px;
    width: 16px;
    fill: $white;
  }
  .user_metrics {
    margin-bottom: 16px;
  }
  .user_metrics_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user_email {
    font-size: 12px;
  }
  .user-info {
    color: $text-color_primary;
    text-align: center;
    margin-bottom: 16px;
    p {
      font-size: 14px;
      font-weight: 600;
      &.light {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .user_metrics_item {
    > span {
      font-size: 10px;
      margin-bottom: 5px;
      &.value {
        font-size: 20px;
      }
    }
  }
  .user_locale {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    dt {
      color: $text-color_secondary;
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    dd {
      font-size: 14px;
    }
  }
  .reviews_list {    
    a {
      font-size: 14px;
      font-style: italic;
      text-decoration: underline;
    }
  }
}

// Sidebar Comments Box
.card_comment {
  .card_comment-box {
    padding: 22px 0;
    &:not(:last-child) {border-bottom: 1px solid $inputs-border-color;}
    
  }
  .comment_header {
    margin-bottom: 8px;
  }
  .comment_header_title {
    font-size: 14px;
    color: $text-color_secondary;
    margin-bottom: 8px;
  }
  .comment_header_icon {
    width: 10px;
    height: 12px;
    fill: $text-color_additional;
    margin-right: 8px;
  }
  .comment_header_author {
    font-size: 12px;
    color: #757575;
  }
  .comment_content {
    color: $text-color_primary;
    font-size: 14px;
    p {
      color: inherit;
      font-size: inherit;
    }
  }
  .card_footer {
    border-top: 1px solid  $inputs-border-color;
  }
  .add-comment-btn {
    color: $primary-color;
  }
}