.year-selector.flex.align-center.justify-between
  .current-year.flex-item--shrink
    | October 2019
  .btns-holder
    button(type="button").arrow-switcher-btn.arrow--left
      +svgIcon('arrow-left-icon', 'arrow-icon')
    button(type="button").arrow-switcher-btn.arrow--right
      +svgIcon('arrow-left-icon', 'arrow-icon right')