h1.page-title Doctor account
.flex-container
  .flex-item.item--3
    include ./parts/main-info
    //- include ./parts/edit-info
  .flex-item.item--9
    .flex-container.align-stretch
      .profile_chart-box.flex-item.item--7
        include ./parts/perfomance-chart
      .profile_chart-box.flex-item.item--5
        include ./parts/slots-info
      .profile_chart-box.flex-item.item--12
        include ./parts/meetings-chart
