.video_call-box {
  color:  $text-color_primary;
  &.card-box { margin-bottom: 20px; }
  .inner-holder {
    max-width: 350px;
    padding: 90px 0 100px;
    text-align: center;
  }
  .call_info {
    margin-bottom: 24px;
    p {
      margin: 0;
      & + p { font-size: 14px; }
    }
  }
  .call_countdown {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.chat_box {
  .tabs_container {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    li {
      &.active { color: $primary-color; }
      &:not(:last-child) { margin-right: 32px; }
    }
  }
}