-  
  const navigationData = [
    {
      "icon": "home-icon",
      "navTitle": "Dashboard",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "user-icon.svg",
      "navTitle": "Patients",
      "link": "#",
      "innerNav": [
        {
          "title": "All patients",
          "link": "#"
        },
        {
          "title": "Deleted patients",
          "link": "#"
        },
        {
          "title": "Add new patient",
          "link": "#"
        }
      ]
    },
    {
      "icon": "calendar-icon.svg",
      "navTitle": "Appointments",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "phone-icon.svg",
      "navTitle": "Video call",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "account-icon.svg",
      "navTitle": "Accounts",
      "link": "#",
      "innerNav": [
        {
          "title": "All accounts",
          "link": "#"
        },
        {
          "title": "Deleted accounts",
          "link": "#"
        },
        {
          "title": "Add new account",
          "link": "#"
        }
      ]
    }
  ]

- var langs = ["EN", "SW", "FR", "PL"];



.sidebar-wrapper  
  .sidebar_logo-box.flex-item--shrink
    a(href="#").logo_link
      include ./../../../assets/img/icons/logo.svg
  
  .sidebar_nav-box.flex-item--stretch
    ul.nav-list      
      each item in navigationData
        li
          div(class=`nav-item ${item.navTitle === 'Patients' ? 'active' : ''}`)
            .nav_icon-holder 
              include ./../../../assets/img/icons/home-icon.svg
            span.nav_title #{item.navTitle}
          if item.innerNav.length
            ul.inner-nav
              each subNav in item.innerNav              
                li 
                  a(href="#") #{subNav.title}

    
  .sidebar_actions-box.flex-item--shrink
    .sidiber_action-item
      +selector(0, langs)
    .sidiber_action-item
      +selector(0, langs)


  


