//-  
  var navigationData = [
    {
      "icon": "icon",
      "navTitle": "Dashboard",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "icon",
      "navTitle": "Patients",
      "link": "#",
      "innerNav": [
        {
          "title": "All patients",
          "link": "#"
        },
        {
          "title": "Deleted patients",
          "link": "#"
        },
        {
          "title": "Add new patient",
          "link": "#"
        }
      ]
    },
    {
      "icon": "icon",
      "navTitle": "Appointments",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "icon",
      "navTitle": "Video call",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "icon",
      "navTitle": "Accounts",
      "link": "#",
      "innerNav": [
        {
          "title": "All accounts",
          "link": "#"
        },
        {
          "title": "Deleted accounts",
          "link": "#"
        },
        {
          "title": "Add new account",
          "link": "#"
        }
      ]
    }
  ];

- var list = "list"