-  
  const navigationData = [
    {
      "icon": "home-icon",
      "navTitle": "Dashboard",
      "link": "dashboard.html",
      "innerNav": []
    },
    {
      "icon": "user-icon",
      "navTitle": "Patients",
      "link": "/patients.html",
      "innerNav": [
        {
          "title": "All patients",
          "link": "#"
        },
        {
          "title": "Deleted patients",
          "link": "#"
        },
        {
          "title": "Add new patient",
          "link": "#"
        }
      ]
    },
    {
      "icon": "calendar-icon",
      "navTitle": "Appointments",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "phone-icon",
      "navTitle": "Video call",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "account-icon",
      "navTitle": "Accounts",
      "link": "/profile.html",
      "innerNav": [
        {
          "title": "All accounts",
          "link": "#"
        },
        {
          "title": "Deleted accounts",
          "link": "#"
        },
        {
          "title": "Add new account",
          "link": "#"
        }
      ]
    }
  ]

- var langs = ["EN", "SW", "FR", "PL"];



.sidebar-wrapper  
  .sidebar_logo-box.flex-item--shrink
    a(href="/").logo_link
      +svgIcon('logo')
  
  .sidebar_nav-box.flex-item--stretch
    ul.nav-list      
      each item in navigationData
        li
          div(class=`nav-item ${item.navTitle === 'Patients' ? 'active' : ''}`)
            .nav_icon-holder
              +svgIcon(item.icon, 'sidebar_nav-icon')
              //- include ./../../../assets/img/icons/home-icon.svg
            a(href=`${item.link}`).nav_title #{item.navTitle}
          if item.innerNav.length
            ul.inner-nav
              each subNav in item.innerNav              
                li 
                  a(href="#") #{subNav.title}

    
  .sidebar_actions-box.flex-item--shrink
    .sidiber_action-item
      +selector(0, langs, true)
    .sidiber_action-item
      +selector(0, langs, true)


  


