-  
  const navigationData = [
    {
      "icon": "home-icon",
      "navTitle": "Dashboard",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "user-icon.svg",
      "navTitle": "Patients",
      "link": "#",
      "innerNav": [
        {
          "title": "All patients",
          "link": "#"
        },
        {
          "title": "Deleted patients",
          "link": "#"
        },
        {
          "title": "Add new patient",
          "link": "#"
        }
      ]
    },
    {
      "icon": "calendar-icon.svg",
      "navTitle": "Appointments",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "phone-icon.svg",
      "navTitle": "Video call",
      "link": "#",
      "innerNav": []
    },
    {
      "icon": "account-icon.svg",
      "navTitle": "Accounts",
      "link": "#",
      "innerNav": [
        {
          "title": "All accounts",
          "link": "#"
        },
        {
          "title": "Deleted accounts",
          "link": "#"
        },
        {
          "title": "Add new account",
          "link": "#"
        }
      ]
    }
  ]