mixin question-spoiler(item)
  -const openClass = item.tiles.length ? 'isOpen' : '';
  .spoiler_header.diagnostic_question_header(class=openClass)
    .flex.justify-between
      .flex-item--shrink
        h3 #{item.title}
      .flex-item--shrink
        span Points #[strong #{item.counter}] / #{item.tiles.length}