extend ./../layouts/main

block pageTitle
  .page-title
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Appointments

block content
  .flex-container
    .flex-item.item-md-3
      .appointments_meetings-reminder.card-box.no-borders        
        .meetings-reminder_box

      .appointments_calendar.card-box.no-borders
        .calendar_box
          .dashboard_scheduler_year-selector.flex.align-center.justify-between
            .current-year.flex-item--shrink
              | October 2019
            .btns-holder
              button(type="button").arrow-switcher-btn.arrow--left
                +svgIcon('arrow-left-icon', 'arrow-icon')
              button(type="button").arrow-switcher-btn.arrow--right
                +svgIcon('arrow-left-icon', 'arrow-icon right')
          .dashboard_calendar_box.dump-block
          .dashboard_calendar_legend
            h3.local-title.t_uppercase calendar
            ul
              li Booked meetings
              li Available times
              li Past meetings
              li Past available times
          
    .flex-item.item-md-9
      .card-box.no-borders