extend ./../layouts/main

block pageTitle
  .page-title
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Appointments

block content
  include ./../partitials/calendar/dates-range-mixin
  .flex-container
    // CALENDAR AND SCHEDULLED MEETINGS
    section.appointments_scheduler_section.flex-item.item-md-3
      // MEETINGS REMINDER
      .card-box.no-borders
        include ./../partitials/appointments/appointments-meetings-block

      // CALENDAR WITH LEGEND
      .card-box.no-borders
        .appointments_year-selector
          include ./../partitials/calendar/calendar-ctrls
          
        .appointments_calendar_box.dump-block

        .appointments_scheduled-time
          h3.local-title.t_uppercase today
          dl.meetings-list
            dt 12
            dd Meetings
          dl.meetings-list
            dt 25
            dd Available times
        
        .appointments_calendar_legend
          h3.local-title.t_uppercase calendar
          include ./../partitials/calendar/calendar-legend
          
    section.flex-item.item-md-9
      .appointments_scheduler-calendar_box.card-box.no-borders
        .calendar_ctrls-block.flex.align-center
          .flex-item--stretch
            include ./../partitials/calendar/calendar-ctrls
          .flex-item--shrink
            +selector(1, ["Day", "Week", "Month"])

        include ./../partitials/appointments/appointments-scheduler-calendar