extends ./../layouts/main

block content 
  - const dataTable = ["Nikki Johnsson", "Elma Wilson", "Martin Gibbs", "Jerome Russo", "Dottie Kim", "Hubert Duarte"];

  section.dashboard_top-banner_box
    // TOP BANNER BLOCK
    include ./../partitials/dashboard/top-banner
  
  section.dashboard_meetings_box
    h1.title Meetings today
    .card-box.no-borders
      .flex-container
        // CONTROLS
        .flex-item
          include ./../partitials/dashboard/calendar-ctrls
          
        // SCHEDULER BLOCK
        .flex-item.item-md-8
          .dashboard_scheduler_box.dump-block
        // CALENDAR BLOCK
        .flex-item.item-md-4
          // CALENDAR
          .dashboard_calendar_box.dump-block
          // LEGEND
          .dashboard_calendar_legend
            h3.local-title.t_uppercase calendar
            ul
              li Booked meetings
              li Available times
              li Past meetings
              li Past available times
          // PATIENTS
          .dashboard_calendar_patients-list
            h3.local-title.t_uppercase Latest patients
            table
              each name in dataTable
                tr
                  td
                    +svgIcon('user-icon', 'user-icon')
                    | #{name}
                  td 26/07/2018 11:42


