extends ./../layouts/main 

block pageTitle
  .page-title.hidden-xl-up
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Patients

block tabs
  .diagnostic_tabs-container
    .top-level-tabs
      include ./../partitials/tabs/main-tabs
    .flex-container.justify-between.align-center
      .second-level-tabs.flex-item
        include ./../partitials/tabs/sub-tabs
      .selector-holder.flex-item
        +selector(0, ["this month", "this year", "smth else"])

block content