extends ./../layouts/main

block pageTitle
  .page-title.hidden-xl-up
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Patients

block tabs
  .diagnostic_tabs-container.flex-container.collapse.justify-between.align-center
    .top-level-tabs.flex-item
      include ./../partitials/tabs/main-tabs
    .selector-holder.flex-item
        +selector(0, ["this month", "this year", "smth else"])

block content
  include ./../partitials/diagnostic/questions-mixin/question.pug
  include ./../partitials/diagnostic/questions-mixin/question-spoiler.pug
  include ./../partitials/diagnostic/questions-mixin/question-block.pug
  include ./../partitials/diagnostic/test-summary-mixin

  include ./../partitials/diagnostic/cognitive-chart-item
 
  .diagnostic_content-wrapper.flex-container
    //- SIDEBAR COLUMN
    .flex-item.item-md-3
      //- USER PERSONAL INFO CARD
      .diagnostic_card.card-box.no-borders.shadow
        include ./../partitials/diagnostic/personal-info.pug

      //- COMMENTS BLOCK
      .diagnostic_card.card-box.card-box--comments.no-borders.shadow.card_comment
        include ./../partitials/diagnostic/comments.pug

      //- EDIT HISTORY BLOCK
      .diagnostic_card.card-box--history.card-box.no-borders.shadow.card_comment
        include ./../partitials/diagnostic/edit-history.pug

    //- CONTENT COLUMN
    .flex-item.item-md-9
      .flex-container.hide
        include ./../partitials/diagnostic/tabs-content/diagnosic-history-content
      .flex-container  
        include ./../partitials/diagnostic/tabs-content/diagnosic-support-content

      
                
              
          
        