extends ./../layouts/main

block pageTitle
  .page-title.hidden-xl-up
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Patients

block tabs
  .diagnostic_tabs-container.flex-container.justify-between.align-center
    .top-level-tabs.flex-item
      include ./../partitials/tabs/main-tabs
    .selector-holder.flex-item
        +selector(0, ["this month", "this year", "smth else"])

block content
  include ./../partitials/diagnostic/question-mixin
  include ./../partitials/diagnostic/cognitive-chart-item
  -
    const data1 = [{
      "title": "Delayed Word Recall",
      "counter": "5",
      "tiles": [
        {
          "blockTitle": {},
          "answersData": [
            {"key": "Expect", "val": ["They are vegetables"]},
            {"key": "Anwer", "val": ["They are fruits"]},
            {"key": "Something else", "val": ["Very boring descriprion about nothing. Just to get long string, that it. Anyway it's just a characters that hasn't any sens. Daewoo sens. I've heard you have servers"]},
          ]
        }
      ],
      
    }];
  -
    const data2 = [{
      "title": "Delayed Word Recall",
      "counter": "5",
      "tiles": [
        {
          "blockTitles": {},
          "answersData": [
            {"key": "Expect", "val": ["They are vegetables"]},
            {"key": "Anwer", "val": ["They are fruits"]},
            {"key": "Something else", "val": ["Very boring descriprion "]},
            {"key": "Anwer", "val": ["They are fruits"]},
          ]
        }
      ],
      
    }];
  .diagnostic_content-wrapper.flex-container
    //- SIDEBAR COLUMN
    .flex-item.item-md-3
      //- USER PERSONAL INFO CARD
      .diagnostic_card.card-box.no-borders.shadow
        include ./../partitials/diagnostic/personal-info.pug

      //- COMMENTS BLOCK
      .diagnostic_card.card-box.card-box--comments.no-borders.shadow.card_comment
        include ./../partitials/diagnostic/comments.pug

      //- EDIT HISTORY BLOCK
      .diagnostic_card.card-box--history.card-box.no-borders.shadow.card_comment
        include ./../partitials/diagnostic/edit-history.pug

    //- CONTENT COLUMN
    .flex-item.item-md-9
      .flex-container
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between            
              .flex-item.flex-item--shrink
                .test-title Survey
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box
                  span.status_text Completed
                .test-results Risk indicators <strong>12%</strong>
            .diagnostic_test_body            
              +question-mixin(data1)
            
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between
              .flex-item.flex-item--shrink
                .test-title Questionnaire
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box.test-status_box--not-completed
                  span.status_text Not completed
                  span.status_selector
                    include ./../../assets/img/icons/arrow-down.svg
                .test-results
                  | Points&nbsp;
                  <strong>5</strong>
                  | / 60
            .diagnostic_test_body
              +question-mixin(data2)
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between
              .flex-item.flex-item--shrink
                .test-title Amnesis
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box
                  span.status_text Completed
                .test-results Risk indicators <strong>12%</strong>
            .diagnostic_test_body
              +question-mixin(data1)
        
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between
              .flex-item.flex-item--shrink
                .test-title Cognitive test
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box
                  span.status_text Completed
                .test-results
                  | Risk indicators <strong>12%</strong>
            .diagnostic_test_body
              section.cognitive-test_section
                include ./../partitials/diagnostic/cognitive-summary-results
              section.cognitive-test_section              
                include ./../partitials/diagnostic/cognitive-charts.pug
              section.cognitive-test_section
                include ./../partitials/diagnostic/cognitive-exercises
                
              
          
        