extends ./../layouts/main 

block pageTitle
  .page-title.hidden-xl-up
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Patients

block tabs
  .diagnostic_tabs-container.flex-container.justify-between.align-center
    .top-level-tabs.flex-item
      include ./../partitials/tabs/main-tabs
    .selector-holder.flex-item
        +selector(0, ["this month", "this year", "smth else"])

block content
  .diagnostic_content-wrapper.flex-container
    //- SIDEBAR COLUMN
    .flex-item.item-md-3
      //- USER PERSONAL INFO CARD
      .diagnostic_card.card-box.no-borders.shadow
        include ./../partitials/diagnostic/personal-info.pug

      //- COMMENTS BLOCK
      .diagnostic_card.card-box.card-box--comments.no-borders.shadow.card_comment
        include ./../partitials/diagnostic/comments.pug

      //- EDIT HISTORY BLOCK
      .diagnostic_card.card-box--history.card-box.no-borders.shadow.card_comment
        include ./../partitials/diagnostic/edit-history.pug

    //- CONTENT COLUMN
    .flex-item.item-md-9
      .flex-container
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between            
              .flex-item.flex-item--shrink
                .test-title Survey
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box
                  span.status_text Completed
                .test-results Risk indicators <strong>12%</strong>
            include ./../partitials/diagnostic/simple-questions.pug

        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between
              .flex-item.flex-item--shrink
                .test-title Questionnaire
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box.test-status_box--not-completed
                  span.status_text Not completed
                  span.status_selector
                    include ./../../assets/img/icons/arrow-down.svg
                .test-results
                  | Points&nbsp;
                  <strong>5</strong>
                  | / 60
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between
              .flex-item.flex-item--shrink
                .test-title Amnesis
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box
                  span.status_text Completed
                .test-results Risk indicators <strong>12%</strong>
        
        .flex-item.item-sm-12
          .card-box.diagnostic_test-box
            .diagnostic_test_header.flex-container.justify-between
              .flex-item.flex-item--shrink
                .test-title Cognitive test
                .test-date 26/07/2018 11:42
              .flex-item.flex-item--shrink
                .test-status_box
                  span.status_text Completed
                .test-results
                  | Risk indicators
                  <strong>12%</strong>
            .diagnostic_test_body
              .test_description_title Points
              .flex-container.collapse
                .flex-item.item-md-6.item-sm-12
                  .bordered-box.flex-container.justify-between.collapse
                    | 1
                .flex-item.item-md-6.item-sm-12
                  .bordered-box.flex-container.justify-between.collapse
                    | 2
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem est at, eum id, saepe cupiditate impedit consequatur culpa vitae, debitis error minima. Neque itaque ut harum laborum reprehenderit praesentium impedit eligendi earum vitae inventore quia, nesciunt debitis facere quo ipsam libero totam iure adipisci vero beatae deserunt iusto deleniti aut! Vel pariatur enim facilis molestiae harum similique deleniti cum consectetur minima! Eius vel maiores hic odio commodi pariatur unde perspiciatis! Voluptate possimus, at optio id culpa libero blanditiis harum impedit velit totam, voluptatibus molestias illum iure illo, facere aut. Modi veritatis quia dignissimos tempore a cumque est commodi? Corporis, quaerat.
          
        