extends ./../layouts/main 

block pageTitle
  .page-title.hidden-xl-up
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Patients

block tabs
  .diagnostic_tabs-container
    .top-level-tabs
      include ./../partitials/tabs/main-tabs
    .flex-container.justify-between.align-center
      .second-level-tabs.flex-item
        include ./../partitials/tabs/sub-tabs
      .selector-holder.flex-item
        +selector(0, ["this month", "this year", "smth else"])

block content
  .diagnostic_content-wrapper.flex-container    
    //- SIDEBAR COLUMN
    .flex-item.item-md-3

      //- USER PERSONAL INFO CARD
      .diagnostic_card.card-box.no-borders.shadow
        .user_personal-info.card_section.card_section--mod
          .card_avatar
            +svgIcon('user-icon', 'avatar-icon')
          .user-info
            p Aleksandra Romaniak
            p.light Female, 44 years old
          ul.user_metrics.flex-container
            each _ in [1,2,3]     
              li.flex-item.item-sm-4.user_metrics_item
                span.t_uppercase Height
                span.value 175
                span Cms
          a(href="mailto:aleksandra.r@gerassolutions.com").user_email aleksandra.r@gerassolutions.com
        .card_section
          each _ in [1,2,3]
            dl.user_locale
              dt.t_uppercase Language
              dd English
        .card_section.user_risks          
          p.label Risk probabilities
          p 50% Based on latest test

        .card_section.reviews_list
          p.label Specialist reviewing
          ul
            li
              a(href="#") Dr. Juan Son            
            li
              a(href="#") Nu. Naia Stevensson

      //- COMMENTS CARD
      .diagnostic_card.card-box.card-box--comments.no-borders.shadow
        .card_header
          .title Specialist comments
          .counter 4
        .card_body
          .card_section
            .card_comment-box
              .comment_header
                .comment_header_title
                  +svgIcon()
                  | Note
                .comment_header_author
                  | Dr. Juan Son - 12/05/2019
              .comment_content
                p Track at least 5 days a week for the period of one month Track at least 5 days a week for the period of one month..
              
        .card_footer
          .card_section.flex.justify-end
            button(type="button").t_uppercase.add-comment-btn Add comment



    //- CONTENT COLUMN
    .flex-item.item-md-9