extends ./../layouts/main

block pageTitle 
  .page-title
    +burger('sidebar_toggler-box hidden-xl-up')
    h1 Doctor account

block content
  .flex-container
    .flex-item.item-md-3
      include ./../partitials/profile/main-info
      //- include ./../partitials/profile/edit-info
    .flex-item.item-md-9
      .flex-container.align-stretch
        .profile_chart-box.flex-item.item-lg-7
          include ./../partitials/profile/perfomance-chart
        .profile_chart-box.flex-item.item-lg-5
          include ./../partitials/profile/slots-info
        .profile_chart-box.flex-item.item-lg-12
          include ./../partitials/profile/meetings-chart
