extends ./../layouts/main
block content
  .page-title
    +burger('sidebar_toggler-box hidden-xl-up')
    
    h1 Doctor account
  .flex-container
    .flex-item.item--3
      include ./../partitials/profile/main-info
      //- include ./../partitials/profile/edit-info
    .flex-item.item--9
      .flex-container.align-stretch
        .profile_chart-box.flex-item.item--7
          include ./../partitials/profile/perfomance-chart
        .profile_chart-box.flex-item.item--5
          include ./../partitials/profile/slots-info
        .profile_chart-box.flex-item.item--12
          include ./../partitials/profile/meetings-chart
