-
  const editHistory = {
    headers: ["change", "transcription", "date", "editor"],
    body: [
      ["Name", "Alexsandra", "12/07/2019", "Susanna Jacksson"],
      ["Email", "alexsandra@gerassolution.com", "12/07/2019", "Susanna Jacksson"],
      ["Date of birth", "12/01/89", "10/05/2019", "Elsa Ericsson"]
    ]
  }

.card-box.patient-history
  .box-title
    h3 Edit History
  .card_table-box
    table.table--colored
      thead
        tr
          each th in editHistory.headers
            th #{th}
      tbody
        each tr in editHistory.body
          tr
            each td in tr
              td #{td}
