h1.page-title Edit patient
.card-box.patient-info
  .box-title
    i.icon-holder
      include ../../../assets/img/icons/user-icon.svg
    h3 Basic information
  .card_inputs-box
    .input-holder.flex-item.item--4
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--4
      label Last Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--4
      label Email
      input(type="email" placeholder="example@domain.tld")
    .input-holder.flex-item.item--3
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--3
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--3
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--3
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--4
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--4
      label First Name
      input(type="text" placeholder="Name")
    .input-holder.flex-item.item--4
      label First Name
      input(type="text" placeholder="Name")
  .btns-holder
    button(type="button").t_uppercase.g_btn.g_btn--primary save
    button(type="button").t_uppercase.g_btn.g_btn--outlined cancel
