.card-box.profile_meetings-chart-box
  .box-title
    h3 Meetings this week
  .profile_meetings-info.flex-container.collapse
    .meeting-info_item.flex-item--shrink.flex
      .circle-figure.circle-figure--green
      .info-holder
        .value 130
        .description
          span meetings
          span booked
    .meeting-info_item.flex-item--shrink.flex
      .circle-figure.circle-figure--blue
      .info-holder
        .value 120
        .description
          span average
          span slots
  //- .profile_meeting-chart