.card-box.profile_perfomans-chart
  .box-title
    h3 Performance this week
  .flex-container.justify-between.collapse
    .flex-item--shrink
      .profile_progress-box.flex.align-center
        .progress_chart
          .progress
          .value 22%
        .progress_legend
          .legend_description
            span.t_uppercase meetings
            span.t_uppercase done
          dl.dl--inline.perfomance-values
            dt 42
            dd 103
    .flex-item--shrink
      .profile_progress-box.flex.align-center
        .progress_chart
          .progress
          .value 85%
        .progress_legend
          .legend_description
            span.t_uppercase meetings
            span.t_uppercase booked
          dl.dl--inline.perfomance-values
            dt 103
            dd 18