h1.page-title Patients
.search-box.flex-container.justify-between.align-start
  .flex-item
    include ./parts/search-block
  .flex-item.flex-item--shrink
    .flex-container
      .flex-item.flex-item--shrink filter
      .flex-item.flex-item--shrink filter
      .flex-item.flex-item--shrink filter