.flex-item.item-sm-12
  .card-box.diagnostic_test-box
    .diagnostic_card-title
      +svgIcon('heart-icon')
      h3 Family member
    .diagnostic_family-info.flex.flex-wrap.align-center.justify-between
      dl.flex-item--shrink
        dt Name
        dd Emily
      dl.flex-item--shrink
        dt Last name
        dd Richards
      dl.flex-item--shrink
        dt email
        dd emilyrichards@gmail.com
      dl.flex-item--shrink
        dt Date added
        dd 12/07/2019      
    .diagnostic_test_summary.diagnostic_test_summary--outlined
      +test-summary-mixin({"title": "Survey", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})
    .diagnostic_test_summary.diagnostic_test_summary--outlined
      +test-summary-mixin({"title": "Amnesis", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})


.flex-item.item-sm-12
  .card-box.diagnostic_test-box
    .diagnostic_card-title
      +svgIcon('heart-icon')
      h3 Family member
    .diagnostic_family-info.flex.flex-wrap.align-center.justify-between
      dl.flex-item--shrink
        dt Name
        dd Josh
      dl.flex-item--shrink
        dt Last name
        dd Richards
      dl.flex-item--shrink
        dt email
        dd joshrichards@gmail.com
      dl.flex-item--shrink
        dt Date added
        dd 12/07/2019      
    .diagnostic_test_summary.diagnostic_test_summary--outlined
      +test-summary-mixin({"title": "Amnesis", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})
    .diagnostic_test_summary.diagnostic_test_summary--outlined
      +test-summary-mixin({"title": "Survey", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})

.flex-item.item-sm-12
  .card-box.diagnostic_test-box.support_meetings
    .diagnostic_card-title
      h3 Meetings
    
    h4 Upcoming meetings
    table.table--colored
      thead
        tr
          th Specialist
          th Family member
          th Date Scheduled
      tbody
        tr
          td Dr. Susanna Jacksson
          td Emily Richards
          td 12/07/2019

    h4 Previous meetings
    table.table--colored
      thead
        tr
          th Specialist
          th Family member
          th Date Scheduled
      tbody
        tr
          td Nrs. Kira Mitchell
          td -
          td 12/07/2019
        tr
          td Nr. Hugh Brooks
          td -
          td 12/07/2019
        tr
          td Nr. Hugh Brooks
          td Johan Richards
          td 12/07/2019
      

.flex-item.item-sm-12
  .card-box.diagnostic_test-box.card_comment
    .diagnostic_card-title.bordered
      h3 Specialist comments
    article.card_comment-box
      .comment_header
        .comment_header_title
          +svgIcon('notes-icon', 'comment_header_icon')
          | Note
        .comment_header_author
          | Dr. Juan Son - 12/05/2019
      .comment_content
        p Track at least 5 days a week for the period of one month Track at least 5 days a week for the period of one month..       
    article.card_comment-box
      .comment_header
        .comment_header_title
          +svgIcon('notes-icon', 'comment_header_icon')
          | Note
        .comment_header_author
          | Dr. Juan Son - 12/05/2019
      .comment_content
        p Track at least 5 days a week for the period of one month Track at least 5 days a week for the period of one month..  
    .card_comment-box_textarea
      h3 add a comment
      textarea(placeholder="Write a comment")
      .flex.justify-end        
        select
          option Select type of comment
      .flex.justify-end           
        button(type="button").comment_btn cancel
        button(type="button").comment_btn.comment_btn--filled send

      