-
  const data1 = [
    {
      "title": "Delayed Word Recall",
      "counter": "5",
      "tiles": [
        {
          "blockTitle": {},
          "blockType": "complex",
          "answersData": [
            {"key": "Expect", "val": ["They are vegetables"]},
            {"key": "Anwer", "val": ["They are fruits"]},
            {"key": "Something else", "val": ["Very boring descriprion about nothing. Just to get long string, that it. Anyway it's just a characters that hasn't any sens. Daewoo sens. I've heard you have servers"]},
          ]
        }
      ],
    },
    {
      "title": "Mood disorders questions",
      "tiles": [
        {
          "blockType": "simple",
           "answersData": [{ "key":"During the last week, to what extent have you felt energized?", "val": "5 - All the time" }]
        }
      ]
    },
  ];
-
  const data2 = [{
    "title": "Delayed Word Recall",
    "counter": "5",
    "tiles": [
      {
        "blockTitles": {},
        "blockType": "complex",
        "answersData": [
          {"key": "Expect", "val": ["They are vegetables"]},
          {"key": "Anwer", "val": ["They are fruits"]},
          {"key": "Something else", "val": ["Very boring descriprion "]},
          {"key": "Anwer", "val": ["They are fruits"]},
        ]
      }
    ],
    
  }];

.flex-item.item-sm-12
  .card-box.diagnostic_test-box
    .diagnostic_test_summary
      +test-summary-mixin({"title": "Survey", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})
    .diagnostic_test_body
      +question-mixin(data1)
    
.flex-item.item-sm-12
  .card-box.diagnostic_test-box
    .diagnostic_test_summary
      +test-summary-mixin({"title": "Questionnaire", "date": "26/07/2018 11:42", "status": "Not completed", "risk": "2%"})              
    .diagnostic_test_body
      +question-mixin(data2)
.flex-item.item-sm-12
  .card-box.diagnostic_test-box
    .diagnostic_test_summary
      +test-summary-mixin({"title": "Amnesis", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})
    .diagnostic_test_body
      +question-mixin(data1)

.flex-item.item-sm-12
  .card-box.diagnostic_test-box
    .diagnostic_test_summary
      +test-summary-mixin({"title": "Cognitive test", "date": "26/07/2018 11:42", "status": "Completed", "risk": "12%"})
    .diagnostic_test_body
      section.cognitive-test_section
        include ./../cognitive-summary-results
      section.cognitive-test_section
        include ./../cognitive-charts.pug
      section.cognitive-test_section
        include ./../cognitive-exercises