mixin selector(currentEl, list, leftDirection=true, showList=false)
  .selector-box
    .selector_selected-block
      .part
        span #{list[currentEl]}
      .part
        include ./../../assets/img/icons/arrow-down.svg
    +drop-list(list, leftDirection, showList )