mixin selector(currentEl, list)
  .selector-box
    .selector_selected-block
      .part
        span #{list[currentEl]}
      .part
        include ./../../assets/img/icons/arrow-down.svg
    ul.selector_list-block.hide
      each item in list
        li #{item}