mixin selector(currentEl, list, direction="left", showList=false)
  .selector-box
    .selector_selected-block
      .part
        span #{list[currentEl]}
      .part
        include ./../../assets/img/icons/arrow-down.svg
    +drop-list(list, direction, showList )