.search-block_wrapper.flex
  .input-holder.flex-item--stretch
    .icon-holder
      include ./../../../../assets/img/icons/search-icon.svg
    input(
      type="text"
      placeholder="Write patient’s name, personal number or email").search-block_input
  button(type="button").g_btn.g_btn--primary.flex-item--shrink Search
.search-block_results-counter Results 22