-const tabsList = ["Diagnostic History", "Risk reduction", "Geras Support", "Neuropsychiatric"];

ul.main-tabs_list.flex-container
  each tab in tabsList
    li(class=`flex-item ${tab === tabsList[0] ? 'active' : ''}`)
      .main-tab_tab #{tab}